.cg {
  display: flex;
  flex-direction: column;
  background-color: var(--lavender-blue) !important;
  padding: 30px 15px;
}
/* .h2 {
  color: var(--ultramarine-blue);
  text-align: center;
  border-bottom: 3px solid var(--oxford-blue);
  padding-bottom: 20px;
} */
.ct {
  text-align: center;
}
.section-title {
  font-size: var(--fs-3);
  margin: 10px auto;
}
.ct a {
  font-size: var(--fs-5) !important;
}
.ct a:hover {
  color: var(--oxford-blue) !important;
}
.cc {
  padding-top: 20px;
}
.wrapper {
  justify-content: center !important;
  border-top: 3px solid var(--oxford-blue);
  padding-top: 20px;
}
.course-grid li {
  list-style: circle;
  margin-left: 30px;
}

h1:not(:first-child) {
  color: var(--ultramarine-blue);
}
h1:first-child {
  color: var(--oxford-blue);
  font-size: var(--fs-4);
}
