.blog { padding: var(--py) var(--px) 250px; }

.blog .section-subtitle {
  text-align: center;
  margin: 15px;
}

.blog .section-title {
  text-align: center;
  margin-bottom: 60px;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.blog-card {
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1);
  overflow: hidden;
}

.blog-banner-box { overflow: hidden; }

.blog-banner-box img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  transition: var(--default-transition);
}

.blog-card:hover .blog-banner-box img { transform: scale(1.1); }

.blog-content {
  padding: 30px;
  padding-bottom: 20px;
}

.blog-title {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 15px;
}

.blog-title a {
  color: var(--oxford-blue);
  font-size: var(--fs-4);
  font-weight: var(--fw-7);
  transition: var(--default-transition);
}

.blog-card:hover .blog-title a { color: var(--red-orange-color-wheel); }

.blog-content .wrapper {
  position: relative;
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  gap: 5px;
}

.blog-content .wrapper::before {
  content: '';
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--light-gray);
  width:   1px;
  height: 15px;
}

.blog-publish-date,
.blog-comment {
  display:     flex;
  align-items: center;
  gap: 10px;
}

:is(.blog-publish-date, .blog-comment) a {
  color: var(--sonic-silver);
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-6);
  transition: var(--default-transition);
}

:is(.blog-publish-date, .blog-comment) a:hover { color: var(--oxford-blue); }
